[submodule "flownet2-pytorch"]
	path = flownet2-pytorch
	url = https://github.com/NVIDIA/flownet2-pytorch
[submodule "DenseDepth"]
	path = DenseDepth
	url = https://github.com/ialhashim/DenseDepth.git
